.ourServices{
    width: 100%;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;    
}

br{
    color:black;
}

.jumbotron{
    background-color: rgb(232, 232, 232);
}

.services-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.services-title h1{
    font-family: 'Roboto';
    font-size: 8rem;
}

.services-title p{
    font-family: 'Roboto';
    font-size: 6rem;
}

.cards-group{
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}
.cards-group1{
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding-top: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.card-item1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    padding-top: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.card-body1{
    margin-left: 6vw;
}
.services-icon {
    color:  rgb(2,127,119);
    font-size: 44px;
}
.services-icon1 {
    color:  rgb(2,127,119);
    font-size: 94px;
}