.ourServices{
    width: 100%;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.jumbotron{
    background-color: rgb(232, 232, 232);
}

.services-for-investors{
    background-color: rgb(221, 221, 221);
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
}

.services-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.services-title h1{
    font-family: 'Roboto';
    font-size: 8rem;
}

.services-title p{
    font-family: 'Roboto';
    font-size: 6rem;
}

.cards-group{
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}
.cards-group1{
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding-top: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.card-item1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    padding-top: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.card-body1{
    margin-left: 6vw;
}
.services-icon {
    color:  rgb(2,127,119);
    font-size: 44px;
}
.services-icon1 {
    color:  rgb(2,127,119);
    font-size: 94px;
}

@media screen and (max-width: 768px) {
    .ourServices{
        display: flex;
        flex-direction: column
    }

    .services-title h1{
        font-size: 5rem;
    }

    .services-title p{
        font-size: 3rem;
        text-decoration: underline  grey;

    }

    .cards-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-item{
        width: 90vw;
    }

    .services-icon {
        font-size: 64px;
    }

    .services-icon1 {
        font-size: 64px;
    }


    .card-item1{
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


}